.mainInfo {
  .firstSlide {
    height: 73rem;
    overflow: hidden;
    width: 100%;
    z-index: 0;

    @media screen and (max-width: 768px) {
      height: 38rem;
    }

    @media screen and (max-width: 576px) {
      height: 43rem;
    }

    @media screen and (max-width: 480px) {
      height: 48rem;
    }

    @media screen and (max-width: 300px) {
      height: 40rem;
    }

    .content {
      position: relative;
      max-width: 192rem;
      height: 100%;
      margin: 0 auto;
      z-index: 0;

      .background {
        position: relative;
        left: -21rem;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        z-index: -1;

        @media screen and (max-width: 768px) {
          left: -11rem;
          top: -19rem;
          width: 100rem;
        }

        @media screen and (max-width: 576px) {
          left: -16rem;
          top: -21rem;
          width: 120rem;
        }

        @media screen and (max-width: 400px) {
          left: -17rem;
        }
      }

      .title {
        position: absolute;
        top: 24rem;
        left: 10rem;
        line-height: 7.5rem;
        margin: 0;
        z-index: 1;
        white-space: nowrap;

        @media screen and (max-width: 1200px) {
          font-size: 6rem;
          line-height: 6rem;
        }

        @media screen and (max-width: 992px) {
          font-size: 5rem;
          line-height: 5rem;
        }

        @media screen and (max-width: 768px) {
          font-size: 4rem;
          line-height: 4rem;
          left: 5rem;
          top: 11.5rem;
        }

        @media screen and (max-width: 576px) {
          font-size: 4rem;
          line-height: 4rem;
          left: 3rem;
          top: 8.5rem;
        }

        @media screen and (max-width: 480px) {
          font-size: 3rem;
          line-height: 3rem;
        }

        @media screen and (max-width: 400px) {
          font-size: 3rem;
          line-height: 3rem;
          left: 2rem;
        }

        @media screen and (max-width: 300px) {
          font-size: 2rem;
        }
      }

      .icon {
        position: absolute;
        height: 100%;
        right: -10rem;
        bottom: -6rem;
        width: auto;

        @media screen and (max-width: 1200px) {
          height: 68rem;
        }

        @media screen and (max-width: 992px) {
          right: -8rem;
          height: 58rem;
        }

        @media screen and (max-width: 768px) {
          right: -5rem;
          height: 36rem;
        }

        @media screen and (max-width: 576px) {
          right: -6rem;
          height: 41rem;
        }

        @media screen and (max-width: 480px) {
          right: -6rem;
          height: 48rem;
        }

        @media screen and (max-width: 390px) {
          height: 38rem;
        }

        @media screen and (max-width: 300px) {
          height: 30rem;
        }
      }
    }
  }
}
