.container {
  overflow: hidden;

  .companyInfo {
    align-items: center;
    display: flex;
    position: relative;
    min-height: 90rem;
    max-width: 192rem;
    margin: 0 auto;
    padding: 5.7rem 10rem;

    @media screen and (max-width: 768px) {
      padding: 5.7rem 5rem;
    }

    @media screen and (max-width: 576px) {
      padding: 5.7rem 3rem;
    }

    @media screen and (max-width: 400px) {
      padding: 4rem 2rem;
    }

    .background {
      object-fit: cover;
      object-position: left -1rem top 0;
      z-index: 0;

      @media screen and (max-width: 1920px) {
        object-position: left -1rem top 1rem;
      }

      @media screen and (max-width: 768px) {
        object-position: left -9rem top 1rem;
      }

      @media screen and (max-width: 576px) {
        object-position: left -11rem top 1rem;
      }

      @media screen and (max-width: 400px) {
        object-position: left -12rem top 1rem;
      }
    }

    .cards {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      position: relative;
      left: 8.3rem;
      justify-content: flex-start;
      gap: 6.7rem;
      height: 100%;

      @media screen and (max-width: 1920px) {
        left: 7.2rem;
      }

      @media screen and (max-width: 1500px) {
        gap: 2rem;
      }

      @media screen and (max-width: 1400px) {
        flex-direction: column;
        max-width: 100%;
        left: 7.4rem;
      }

      @media screen and (max-width: 768px) {
        left: 0;
      }

      .point {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        max-width: 57rem;
        width: 100%;
        z-index: 1;

        @media screen and (max-width: 768px) {
          flex-direction: column;
          margin-bottom: 2rem;

          &:last-child {
            margin-bottom: 0;
          }

          @supports (display: flex) and (gap: 2rem) {
            margin-bottom: 0;
          }
        }

        .countBlock {
          align-items: flex-start;
          display: flex;
          flex-direction: row;
          gap: 5rem;

          .countIcon {
            @media screen and (max-width: 768px) {
              display: none;
            }
          }
        }

        .count {
          margin: 1.9rem 0 0;
          font-weight: 700;
          font-size: 7rem;
          line-height: 7.5rem;
          white-space: nowrap;

          @media screen and (max-width: 300px) {
            font-size: 5rem;
          }
        }

        .textInfo {
          text-align: left;
          margin-left: 2rem;
          width: 33.3rem;
          overflow: hidden;

          @media screen and (max-width: 768px) {
            width: 100%;
            margin-left: 0;
          }

          .title {
            margin: 1.9rem 0 1.6rem;
            line-height: 5rem;

            @media screen and (max-width: 576px) {
              font-size: 4rem;
            }

            @media screen and (max-width: 300px) {
              font-size: 2.5rem;
            }
          }

          .description {
            margin: 0;
            line-height: 2.4rem;
            font-size: 1.8rem;
            font-weight: 250;

            @media screen and (max-width: 576px) {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
