.areas {
  padding: 5.7rem 0;

  .title {
    line-height: 6.5rem;
    margin: 0 0 5.3rem;

    @media screen and (max-width: 1024px) {
      font-size: 5rem;
    }

    @media screen and (max-width: 992px) {
      font-size: 4.2rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 3.5rem;
      line-height: 4rem;
    }

    @media screen and (max-width: 576px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 300px) {
      font-size: 2rem;
      line-height: 3rem;
    }
  }

  .cards {
    .content {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      gap: 3rem;
      z-index: 0;

      @media screen and (max-width: 992px) {
        flex-direction: column;
        margin: 0;
      }
    }
  }
}
