html,
body {
  height: 100%;
}

html {
  font-size: 10px;
  overflow-y: scroll;
}

body {
  font-family: Muller, sans-serif;
  font-weight: 300;
  min-width: 20rem;
}

main {
  width: 100%;
  margin: 0 auto;
}

.limit-width-wrapper {
  position: relative;
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 10rem;
  z-index: 0;

  @media screen and (max-width: 768px) {
    padding: 0 5rem;
  }

  @media screen and (max-width: 576px) {
    padding: 0 3rem;
  }

  @media screen and (max-width: 400px) {
    padding: 0 2rem;
  }
}
