@font-face {
  font-family: Muller;
  font-style: normal;
  font-weight: 250;
  font-display: swap;
  src:
    local('Muller'),
    url('/fonts/MullerUltraLight.woff2') format('woff2'),
    url('/fonts/MullerUltraLight.woff') format('woff'),
    url('/fonts/MullerUltraLight.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: Muller;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local('Muller'),
    url('/fonts/MullerLight.woff2') format('woff2'),
    url('/fonts/MullerLight.woff') format('woff'),
    url('/fonts/MullerLight.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: Muller;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Muller'),
    url('/fonts/MullerBold.woff2') format('woff2'),
    url('/fonts/MullerBold.woff') format('woff'),
    url('/fonts/MullerBold.eot?#iefix') format('embedded-opentype');
}
