.card {
  background: #fff;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row;
  max-height: 100%;
  height: 28.6rem;
  width: 66.6rem;
  overflow: hidden;
  padding: 2rem;
  min-width: 50rem;
  gap: 1.8rem;
  flex: 1;

  @media screen and (max-width: 1300px) {
    min-width: 35rem;
  }

  @media screen and (max-width: 1200px) {
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  @media screen and (max-width: 992px) {
    flex: none;
    flex-direction: row;
    height: 28.6rem;
  }

  @media screen and (max-width: 768px) {
    min-width: 100%;
    width: 100%;
  }

  @media screen and (max-width: 576px) {
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }

    @supports (display: flex) and (gap: 3rem) {
      margin-bottom: 0;
    }
  }

  .content {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    order: 1;

    @media screen and (max-width: 1200px) {
      align-items: center;
      order: 2;
    }

    @media screen and (max-width: 992px) {
      order: 1;
    }

    @media screen and (max-width: 576px) {
      align-items: center;
      order: 2;
    }

    .title {
      line-height: 4rem;
      margin-bottom: 1.7rem;
      font-size: 2.4rem;

      @media screen and (max-width: 540px) {
        font-size: 2rem;
        line-height: 2rem;
      }

      @media screen and (max-width: 300px) {
        font-size: 1.7rem;
      }
    }

    .description {
      color: #000;
      line-height: 2.3rem;
      margin-bottom: 1.5rem;
      overflow-wrap: break-word;

      @media screen and (max-width: 300px) {
        font-size: 1.2rem;
      }
    }
  }

  .imageContainer {
    order: 2;
    overflow: hidden;
    position: relative;
    max-width: 21.4rem;
    height: 21.4rem;
    width: 100%;

    @media screen and (max-width: 576px) {
      margin-bottom: 1.8rem;

      @supports (display: flex) and (gap: 1.8rem) {
        margin-bottom: 0;
      }
    }

    .image {
      object-fit: contain;
      object-position: center center;

      @media screen and (max-width: 1200px) {
        order: 1;
      }

      @media screen and (max-width: 992px) {
        order: 2;
      }

      @media screen and (max-width: 576px) {
        order: 1;
      }
    }
  }
}
