.projects {
  padding: 5.7rem 0;

  .header {
    align-items: baseline;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 5.3rem;

    @media screen and (max-width: 540px) {
      flex-direction: column;
    }

    .title {
      line-height: 6.5rem;
      margin: 0;

      @media screen and (max-width: 768px) {
        font-size: 4rem;
        line-height: 4rem;
      }

      @media screen and (max-width: 400px) {
        font-size: 3rem;
        line-height: 3rem;
      }

      @media screen and (max-width: 300px) {
        font-size: 2.2rem;
      }
    }
  }

  .cards {
    .content {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      gap: 2.8rem;

      @media screen and (max-width: 992px) {
        flex-direction: column;
      }
    }
  }
}
