.iconCard {
  background-color: #fff;
  position: relative;
  border-radius: 1.5rem;
  max-height: 100%;
  height: 28.6rem;
  width: 78.2rem;
  min-width: 60rem;
  overflow: hidden;
  flex: 1;
  z-index: 0;

  @media screen and (max-width: 1300px) {
    min-width: 55rem;
  }

  @media screen and (max-width: 1200px) {
    min-width: 50rem;
  }

  @media screen and (max-width: 1100px) {
    min-width: 45rem;
  }

  @media screen and (max-width: 992px) {
    min-width: auto;
    flex: none;
    width: 100%;
  }

  @media screen and (max-width: 540px) {
    margin-bottom: 2.8rem;

    &:last-child {
      margin-bottom: 0;
    }

    @supports (display: flex) and (gap: 2.8rem) {
      margin-bottom: 0;
    }
  }

  .content {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3rem;

    @media screen and (max-width: 1600px) {
      background: rgba(256 256 256 / 0.8);
    }

    .title {
      width: 0;
      min-width: 40%;
      line-height: 3rem;
      margin-bottom: 1.5rem;
      z-index: 0;

      @media screen and (max-width: 1600px) {
        min-width: 100%;
      }

      @media screen and (max-width: 1200px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 992px) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: 390px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 300px) {
        font-size: 1.6rem;
      }
    }
  }

  .background {
    object-fit: contain;
    object-position: right center;
    height: 100%;
    width: auto;
    z-index: -1;

    @media screen and (max-width: 1600px) {
      object-fit: cover;
      object-position: right -1rem bottom 0;
    }

    @media screen and (max-width: 768px) {
      object-position: top right;
    }
  }
}

.simpleCard {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  height: 28.6rem;
  width: 54.9rem;
  border-radius: 1.5rem;
  padding: 3rem;

  @media screen and (max-width: 1400px) {
    min-width: 45rem;
    flex: 1;
  }

  @media screen and (max-width: 1300px) {
    min-width: 40rem;
  }

  @media screen and (max-width: 1200px) {
    min-width: 35rem;
  }

  @media screen and (max-width: 1100px) {
    min-width: 30rem;
  }

  @media screen and (max-width: 992px) {
    flex: none;
    min-width: auto;
    width: 100%;
  }

  .title {
    max-width: 35.2rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;

    @media screen and (max-width: 1200px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 992px) {
      font-size: 2.4rem;
    }

    @media screen and (max-width: 390px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 300px) {
      font-size: 1.6rem;
    }
  }
}
