.card-button {
  background: transparent;
  border: 2px solid transparent;
  border-radius: 5rem;
  padding: 0.6rem 1.8rem;
  height: 3.5rem;
  width: 11.5rem;
  z-index: 0;

  &_dark {
    border-color: $button-border-color;
    color: $text-color-secondary;

    &:focus,
    &:hover:not(:disabled) {
      border-color: $button-border-color-secondary;
      color: $blue-color;
    }
  }

  &_light {
    border-color: $button-border-color-secondary;
    color: $contrast-blue;

    &:focus,
    &:hover:not(:disabled) {
      border-color: $blue-color;
    }
  }
}
