.ant-carousel {
  max-width: 100vw;

  .slick-initialized .slick-slide {
    min-height: 200px;
  }

  .slick-dots {
    z-index: 1;
  }

  .slick-dots li,
  .slick-dots li.slick-active {
    height: 11px;
    width: 82px;

    button {
      border-radius: 20px;
      opacity: 1;
      height: 100%;
      width: 100%;
    }
  }

  .slick-dots li button {
    background: $carousel-step-background;
  }

  .slick-dots li.slick-active button {
    background: $carousel-step-background-active;
  }
}
