.footer {
  background-color: $primary-color;
  min-height: 73.6rem;
  overflow: hidden;
  position: relative;
  padding: 5.7rem 0 0;
  width: 100%;
  z-index: 0;

  &-background {
    position: absolute;
    top: 0;
    left: 2rem;
    width: auto;
    height: 100%;
    z-index: -1;

    @media screen and (max-width: 1300px) {
      left: auto;
      right: 2rem;
    }

    @media screen and (max-width: 992px) {
      left: auto;
      right: -3rem;
    }

    @media screen and (max-width: 768px) {
      left: auto;
      right: -2rem;
    }

    @media screen and (max-width: 576px) {
      left: auto;
      right: -6.4rem;
    }
  }

  &-circle-icon {
    position: absolute;
    left: 102rem;
    bottom: -21.4rem;
    z-index: -1;

    @media screen and (max-width: 1300px) {
      left: auto;
      right: -7rem;
    }

    @media screen and (max-width: 576px) {
      height: 20rem;
      width: 30rem;
      right: -10rem;
      bottom: -8rem;
    }

    @media screen and (max-width: 300px) {
      right: -9.5rem;
    }
  }

  &-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto 17.2rem;
    width: 69.4rem;

    @media screen and (max-width: 768px) {
      margin-bottom: 10rem;
      width: 100%;
    }

    @media screen and (max-width: 576px) {
      margin-bottom: 6rem;
    }

    &-title {
      text-align: center;
      font-size: 4.2rem;
      line-height: 2.3rem;
      font-weight: 300;
      margin-bottom: 5.8rem;
      color: #fff;

      @media screen and (max-width: 992px) {
        font-size: 3.5rem;
      }

      @media screen and (max-width: 768px) {
        font-size: 3rem;
      }

      @media screen and (max-width: 576px) {
        margin-bottom: 3rem;
        font-size: 2.5rem;
      }

      @media screen and (max-width: 300px) {
        font-size: 2rem;
      }
    }

    &-button {
      background: $footer-head-button-background;
      border: 2px solid transparent;
      border-radius: 5rem;
      background-clip: padding-box;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 31.2rem;
      height: 5.8rem;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 2.3rem;
      padding: 0;
      color: #fff;

      span {
        z-index: 1;
      }

      @media screen and (max-width: 480px) {
        width: 20rem;
        height: 4rem;
        font-size: 1.7rem;
      }

      @media screen and (max-width: 300px) {
        width: 18rem;
      }

      &:focus,
      &:hover:not(:disabled) {
        border: 2px solid $button-border-color-secondary;
        margin: 0;
      }

      &::before {
        content: '';
        background-size: 19.9rem 17rem;
        background-image: url('/icons/footer-button-element-icon.svg');
        background-repeat: no-repeat;
        background-color: transparent;
        display: block;
        height: 19.9rem;
        top: -6rem;
        left: -7rem;
        width: 17rem;
        z-index: -1;

        @media screen and (max-width: 480px) {
          top: -4.4rem;
          background-size: 15rem 12rem;
        }

        @media screen and (max-width: 300px) {
          left: -6rem;
        }
      }

      &::after {
        content: '';
        display: block;
        background: $footer-highlight-button-background;
        position: absolute;
        width: 31.2rem;
        height: 5.8rem;
        bottom: -3.6rem;
        left: 0;
        filter: blur(25px);
        border-radius: 50px;

        @media screen and (max-width: 480px) {
          width: 20rem;
          height: 4rem;
        }

        @media screen and (max-width: 300px) {
          width: 18rem;
        }
      }
    }

    &-icon {
      position: absolute;
      top: 10%;
      right: -6rem;

      @media screen and (max-width: 992px) {
        top: 25%;
        right: -3rem;
        height: 10rem;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &-menu {
    width: 100%;
    z-index: 1;

    .nav {
      &-columns {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 12rem;
        padding: 0;

        @media screen and (max-width: 1200px) {
          flex-wrap: wrap;
          gap: 8rem;
        }

        @media screen and (max-width: 992px) {
          flex-direction: column;
          max-width: 100%;
          gap: 3rem;
        }
      }

      &-column {
        @media screen and (max-width: 992px) {
          margin-bottom: 3rem;

          &:last-child {
            margin-bottom: 0;
          }

          @supports (display: flex) and (gap: 3rem) {
            margin-bottom: 0;
          }
        }

        &-header {
          color: #fff;
          font-weight: 700;
          font-size: 2.4rem;
          line-height: 2.3rem;
          white-space: nowrap;
        }

        &-items {
          color: #fff;
          padding: 0;
          margin-top: 3rem;
          max-height: none !important;

          .ant-anchor-ink {
            display: none;
          }

          .ant-anchor-link {
            padding: 0;
          }

          .ant-anchor-link-title,
          li a {
            display: block;
            color: #fff;
            white-space: nowrap;
            font-size: 1.6rem;
            font-weight: 250;
            line-height: 2rem;
            padding: 10px 15px 10px 0;

            @media screen and (max-width: 300px) {
              font-size: 1.5rem;
            }

            &:focus,
            &:hover {
              color: $blue-color;
            }
          }
        }
      }
    }

    ul {
      list-style: none;
    }
  }
}
