.header {
  top: 0;
  left: 0;
  position: sticky;
  background: $main-background-color;
  max-height: 8.7rem;
  z-index: 2;

  .content {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &-logo {
    margin: 1rem 2rem 1rem 0;

    svg {
      width: 150px;

      @media screen and (max-width: 768px) {
        width: 150px;
      }

      @media screen and (max-width: 540px) {
        width: 130px;
      }

      @media screen and (max-width: 300px) {
        width: 100px;
      }
    }
  }

  &.dark {
    background: $main-background-color;

    .menu-button svg rect {
      fill: $secondary-color;
    }
  }

  &.light {
    background: $main-background-color-secondary;

    .menu-button svg rect {
      fill: $primary-color;
    }
  }
}
