.menu {
  min-height: 100vh;

  span {
    z-index: -1;
  }

  &-background {
    object-fit: cover;
    object-position: left -13rem top 50%;
  }

  &-close-button {
    &:focus,
    &:hover:not(:disabled) {
      opacity: 0.6;
    }
  }

  &-button {
    display: flex;
    border: none;
    justify-content: center;
    height: 2.6rem;
    width: 3.4rem;
    margin: 1rem 0 1rem 2rem;

    &:focus,
    &:hover:not(:disabled) {
      opacity: 0.6;
    }
  }

  .ant-drawer {
    &-close {
      margin-right: 0;
    }

    &-header {
      background: $menu-background-color;
      border: none;
      display: flex;
      position: relative;
      max-width: 192rem;
      margin: 0 auto;
      padding: 0 10rem;
      max-height: 8.7rem;
      width: 100%;

      @media screen and (max-width: 768px) {
        padding: 0 5rem;
      }

      @media screen and (max-width: 576px) {
        padding: 0 3rem;
      }

      @media screen and (max-width: 400px) {
        padding: 0 2rem;
      }

      &-title {
        order: 2;
        justify-content: flex-end;
      }
    }

    &-extra {
      margin: 1rem 2rem 1rem 0;
      order: 1;

      svg {
        @media screen and (max-width: 768px) {
          width: 150px;
        }

        @media screen and (max-width: 540px) {
          width: 130px;
        }

        @media screen and (max-width: 300px) {
          width: 100px;
        }
      }
    }

    &-body {
      position: relative;
      padding: 2.4rem 0;
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &-content-wrapper {
      width: 100vw;
    }

    &-content {
      background: $menu-background-color;
    }
  }

  &-container {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &-content {
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: none !important;
    overflow: hidden;

    .ant-anchor {
      padding: 1rem;

      &-wrapper {
        margin: 0;
        padding: 0;
        width: 100%;
      }

      &-ink {
        display: none;
      }

      &-link {
        padding: 0;

        &-title {
          color: #fff;
          font-size: 3rem;
          font-weight: 250;
          padding: 0.5rem;

          @media screen and (max-width: 1200px) {
            font-size: 2rem;
          }

          @media screen and (max-width: 400px) {
            font-size: 1.5rem;
          }

          @media screen and (max-width: 300px) {
            font-size: 1.2rem;
          }
        }

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        &-title-active {
          color: $blue-color;
        }

        &-title:focus,
        &-title:hover:not(:disabled) {
          color: $pink-color;

          // &::before {
          //   content: '+';
          //   display: block;
          //   position: absolute;
          //   font-weight: 250;
          //   font-size: 6rem;
          //   top: -45%;
          //   left: -4rem;
          // }
        }
      }
    }
  }
}
