.founder {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex: 1 1;

  @media screen and (max-width: 540px) {
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    @supports (display: flex) and (gap: 2rem) {
      margin-bottom: 0;
    }
  }

  .info {
    @media screen and (max-width: 540px) {
      text-align: center;
    }

    .title {
      line-height: 3.5rem;
      margin-bottom: 2.8rem;

      @media screen and (max-width: 300px) {
        font-size: 2rem;
      }
    }

    .position {
      font-size: 1.6rem;
      font-weight: 250;
      line-height: 2.4rem;
      color: #3d3d3d;
      margin: 0;
    }
  }

  .imageContainer {
    height: 23.9rem;
    max-width: 23.5rem;
    min-width: 15rem;
    overflow: hidden;
    position: relative;
    width: 100%;

    @media screen and (max-width: 540px) {
      margin-bottom: 2rem;

      @supports (display: flex) and (gap: 2rem) {
        margin-bottom: 0;
      }
    }

    .photo {
      object-fit: contain;
      object-position: right center;
      height: auto;
      width: 100%;
    }
  }
}
