$primary-color: #000e48;
$secondary-color: #f8f9fa;
$blue-color: #009afb;
$dark-blue-color: #0060fb;
$pink-color: #ea2a8f;

$contrast-blue: darken($blue-color, 15%);

// Base
$text-color: $primary-color;
$text-color-secondary: #fff;

$border-button-focus-color: #91b8d5;

$main-background-color: $primary-color;
$main-background-color-secondary: $secondary-color;

// Components
$carousel-step-background: $primary-color;
$carousel-step-background-active: #ea2a8f;

$menu-background-color: $primary-color;

$button-border-color: #ffff;
$button-border-color-secondary: $contrast-blue;

$footer-head-button-background: linear-gradient(
  275.27deg,
  #009afb -14.18%,
  #4e6bdb 3.61%,
  #ca20a8 38.48%,
  #ff0092 74.55%,
  #c4deef 101.24%
);

$footer-highlight-button-background: linear-gradient(
  275.27deg,
  rgba(0 154 251 / 0.5) -12.81%,
  rgba(255 0 146 / 0.5) 43.81%,
  rgba(196 222 239 / 0.5) 85.69%
);
