.industries {
  overflow: hidden;
  height: 71rem;
  width: 100%;
  z-index: 0;

  @media screen and (max-width: 1550px) {
    height: 59rem;
  }

  @media screen and (max-width: 1300px) {
    height: 49rem;
  }

  @media screen and (max-width: 1024px) {
    height: 45rem;
  }

  @media screen and (max-width: 992px) {
    height: 42rem;
  }

  @media screen and (max-width: 576px) {
    height: 66rem;
  }

  @media screen and (max-width: 300px) {
    height: 60rem;
  }

  .backgroundLarge {
    position: relative;
    left: -64rem;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;

    @media screen and (max-width: 1550px) {
      left: -52rem;
      top: -8rem;
      width: 162rem;
    }

    @media screen and (max-width: 1300px) {
      left: -40rem;
      top: -15rem;
      width: 124rem;
    }

    @media screen and (max-width: 1024px) {
      left: -39rem;
      top: -17rem;
      width: 120rem;
    }

    @media screen and (max-width: 992px) {
      left: -27.5rem;
      top: -18rem;
      width: 85rem;
    }

    @media screen and (max-width: 768px) {
      left: -23rem;
      width: 71rem;
    }

    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  .backgroundMobile {
    left: -51rem;
    position: absolute;
    top: -52rem;
    display: none;

    @media screen and (max-width: 576px) {
      display: inline-block;
    }

    @media screen and (max-width: 400px) {
      left: -52rem;
    }

    @media screen and (max-width: 300px) {
      top: -50rem;
      left: -43.5rem;
      width: 90rem;
    }
  }

  .info {
    position: absolute;
    top: 3rem;
    left: 10rem;
    z-index: 1;

    @media screen and (max-width: 768px) {
      left: 5rem;
    }

    @media screen and (max-width: 576px) {
      left: 3rem;
    }

    @media screen and (max-width: 400px) {
      left: 2rem;
    }

    .title {
      line-height: 6.5rem;
      margin: 0;

      @media screen and (max-width: 300px) {
        font-size: 4rem;
      }
    }

    .description {
      font-size: 1.8rem;
      font-weight: 250;
      line-height: 2.4rem;
      margin: 0;

      @media screen and (max-width: 1300px) {
        font-size: 1.3rem;
        line-height: 1.77rem;
      }

      @media screen and (max-width: 992px) {
        font-size: 1.3rem;
      }

      @media screen and (max-width: 768px) {
        font-size: 1.4rem;
        line-height: 1.7rem;
      }

      @media screen and (max-width: 480px) {
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
    }
  }
}
