.workProcess {
  overflow: hidden;
  padding: 0 0 5.7rem;
  min-height: 65.5rem;
  width: 100%;
  z-index: 0;

  .header {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-bottom: 5.7rem;
    gap: 5rem;

    @media screen and (max-width: 1200px) {
      align-items: flex-start;
      gap: 2rem;
      flex-direction: column;
    }

    .title {
      position: relative;
      margin: 0;

      @media screen and (max-width: 1200px) {
        margin-bottom: 2rem;

        @supports (display: flex) and (gap: 2rem) {
          margin-bottom: 0;
        }
      }

      @media screen and (max-width: 300px) {
        font-size: 3rem;
      }
    }

    .description {
      color: #000;
      margin: 0;
      font-size: 2.1rem;
      font-weight: 250;
      white-space: nowrap;

      @media screen and (max-width: 1510px) {
        font-size: 2.1rem;
      }

      @media screen and (max-width: 576px) {
        font-size: 1.9rem;
      }

      @media screen and (max-width: 480px) {
        white-space: normal;
        font-size: 1.5rem;
      }
    }
  }

  .contentContainer {
    padding: 2rem 0;

    .content {
      height: 65.5rem;

      @media screen and (max-width: 1300px) {
        height: 55rem;
      }

      @media screen and (max-width: 1200px) {
        height: 50rem;
      }

      @media screen and (max-width: 992px) {
        height: 40rem;
      }

      @media screen and (max-width: 768px) {
        height: 55.1rem;
      }

      .graphIcon {
        object-fit: contain;
        object-position: left center;
        padding: 0 5rem !important;

        @media screen and (max-width: 768px) {
          display: none !important;
        }
      }

      .mobileGraphIcon {
        object-fit: contain;
        object-position: center center;

        @media screen and (min-width: 768px) {
          display: none !important;
        }

        @media screen and (max-width: 768px) {
          display: inline-block;
        }
      }
    }
  }
}
