.company {
  padding: 0 0 5.7rem;

  .header {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 5rem;
    margin-bottom: 5.8rem;

    @media screen and (max-width: 1450px) {
      align-items: flex-start;
      gap: 2rem;
      flex-direction: column;
    }

    .title {
      line-height: 6.5rem;
      margin: 0;

      @media screen and (max-width: 1450px) {
        margin-bottom: 2rem;

        @supports (display: flex) and (gap: 2rem) {
          margin-bottom: 0;
        }
      }

      @media screen and (max-width: 768px) {
        font-size: 4rem;
        line-height: 5rem;
      }

      @media screen and (max-width: 400px) {
        font-size: 3rem;
        line-height: 5rem;
      }

      @media screen and (max-width: 300px) {
        font-size: 2rem;
        line-height: 3rem;
      }
    }

    .description {
      max-width: 69.6rem;
      font-size: 2.1rem;
      font-weight: 250;
      margin: 0;
      color: #000;

      @media screen and (max-width: 768px) {
        font-size: 1.9rem;
      }

      @media screen and (max-width: 400px) {
        font-size: 1.5rem;
      }
    }
  }
}
