.founders {
  padding-bottom: 5.7rem;

  .title {
    line-height: 6.5rem;
    margin-bottom: 3.7rem;

    @media screen and (max-width: 768px) {
      font-size: 4rem;
    }

    @media screen and (max-width: 300px) {
      font-size: 2.5rem;
    }
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;

    @media screen and (max-width: 1368px) {
      flex-direction: column;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 2rem;
    }
  }
}
