$font-size-base: 14px;
$font-size-sm: 10px;
$font-size-lg: 16px;
$font-size-extra-lg: 32px;

$h1-font-size: 7.5rem;
$h2-font-size: 6rem;
$h3-font-size: 5rem;
$h4-font-size: 3rem;
$h5-font-size: 2.4rem;
